Repository wuespace/telestion-rocketsound-psc, pull requests merged in 2021-03, with the labels that each got.

#56 feat(widget): Refactor table widget
  src/model/sample-user-config.ts
  src/widgets/9dof-widget/index.ts
  src/widgets/9dof-widget/model.ts
  src/widgets/9dof-widget/table.tsx
  src/widgets/9dof-widget/widget.tsx
  src/widgets/9dof/widget.tsx
  src/widgets/index.ts
Labels: enhancement, widget

#11 feat(widgets): Implement Waveform - and Spectrogram widgets
  .github/dependabot.yml
  README.md
  package-lock.json
  package.json
  public/index.html
  src/components/app.tsx
  src/model/channels.ts
  src/model/messages/amplitude.ts
  src/model/messages/index.ts
  src/model/messages/spectrum.ts
  src/model/sample-graph-definitions.ts
  src/model/sample-user-config.ts
  src/model/spectrum-color.ts
  src/plugins/mock-server-plugin.ts
  src/widgets/9dof-widget/table.tsx
  src/widgets/9dof-widget/widget.tsx
  src/widgets/graph-widget/components/custom-tooltip.tsx
  src/widgets/graph-widget/components/graph.tsx
  src/widgets/graph-widget/model/chart-connection.ts
  src/widgets/hooks/index.ts
  src/widgets/hooks/use-canvas.ts
  src/widgets/hooks/use-spectrum-color.ts
  src/widgets/index.ts
  src/widgets/map-widget/widget.tsx
  src/widgets/spectrogram-widget/canvas-renderer.tsx
  src/widgets/spectrogram-widget/index.ts
  src/widgets/spectrogram-widget/spectrogram.tsx
  src/widgets/spectrogram-widget/use-spectrum.ts
  src/widgets/spectrogram-widget/widget.tsx
  src/widgets/state-widget/Badge.tsx
  src/widgets/state-widget/StateDisplay.tsx
  src/widgets/state-widget/widget.tsx
  src/widgets/waveform-widget/canvas-renderer.tsx
  src/widgets/waveform-widget/index.ts
  src/widgets/waveform-widget/model.ts
  src/widgets/waveform-widget/use-amplitudes.ts
  src/widgets/waveform-widget/waveform.tsx
  src/widgets/waveform-widget/widget.tsx
Labels: enhancement

#60 feat(widget): In graph widget enable and disable of tooltip is possible
  src/model/sample-graph-definitions.ts
  src/widgets/graph-widget/components/graph.tsx
  src/widgets/graph-widget/model/widget-props.ts
  src/widgets/graph-widget/widget.tsx
Labels: enhancement, widget

#74 feat(Widgets): updated MapWidget
  src/widgets/map-widget/widget.tsx
Labels: enhancement, widget

#103 REBASE: chore(deps): Security fix for xmldom dependency
  package-lock.json
  package.json
Labels: dependencies, security

#104 REBASE: chore(ci): Fix workflows
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  package.json
Labels: bug
